body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}
p {
  color: #8f8f8f;
}
#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

.navbar {
  padding-bottom: 3.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.container-fluid{
    padding: 7% 15%;
  }

.nav-item {
  padding: 0 18px;
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}
.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.download-btn {
  margin: 5% 3% 5% 0%;
}

.iphone-img {
  transform: rotate(20deg);
}

.feature-icon {
  font-size: 4rem;
  color: #ef8172;
  margin-bottom: 5%;
}

.feature-icon:hover {
  color: #ff4c68;
}
.feature-title{
    font-size: 1.5rem;
}

.feature-box{
    padding: 4.5%;
}
